@model PracticalWerewolf.ViewModels.Contractor.ContractorIndexModel

@if (Model.ContractorInfo.Truck != null)
{
    <div class="alert alert-info" role="alert">
        <h4>Approval pending!</h4>
        <p>Your application pending approval by a manager. </p>
    </div>
}


<div class="jumbotron">
    <h1>Contract pending</h1>
    <p class="lead">While your contract is pending see how you can prepare for the job! </p>
    <p><a href="#" class="btn btn-primary btn-lg">Read more &raquo;</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Benefits</h2>
            <p>Read about the many benefits of working with Practical Werewolf</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>How paying works</h2>
            <p>Learn how you'll be paid as a contractor. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contractor forum</h2>
            <p>Access the contractor community and discuss how contracting with Practical Werewolf works.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>

    <hr>
</div>