@model PracticalWerewolf.ViewModels.Contractor.ContractorIndexModel

<div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> <strong>Approval denied!</strong> Your application has been denied by the manager</div>

