@model PracticalWerewolf.ViewModels.Contractor.ContractorIndexModel

<div class="alert alert-danger" role="alert">
    <h4>Approval denied!</h4> 
    <p>Your application has been denied by the manager</p>
</div>

