@model PracticalWerewolf.ViewModels.Contractor.PagedOrderListViewModel

<div class="panel panel-default contractor-body-pane">
    <div class="panel-heading">
        @(Model.DisplayName)
    </div>
    <div class="panel-body">
        @{
            Html.RenderPartial("_PagedOrderListView", Model);
        }
    </div>
</div>
