@using PracticalWerewolf.Models.UserInfos
@model PracticalWerewolf.ViewModels.Contractor.ContractorIndexModel
@{
    ViewBag.Title = "Contract";
}

@Html.Partial("_StatusMessage")


@if (@Model.ContractorInfo == null)
{
    <div class="jumbotron">
        <h1>Contract</h1>
        <p class="lead">Contract with Practical Werewolf and earn lots of tasty money! </p>
        <p><a href="@Url.Action("Register", "Contractor")" class="btn btn-primary btn-lg">Apply &raquo;</a></p>
    </div>
}
else
{
    if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Pending)
    {
        <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-ok-circle"></span> <strong>Approval pending!</strong> Your application pending approval by a manager. You'll receive an email.</div>

        <div class="jumbotron">
            <h1>Contract pending</h1>
            <p class="lead">While your contract is pending see how you can prepare for the job! </p>
            <p><a href="#" class="btn btn-primary btn-lg">Read more &raquo;</a></p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Benefits</h2>
                    <p>Read about the many benefits of working with Practical Werewolf</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div>
                <div class="col-md-4">
                    <h2>How paying works</h2>
                    <p>Learn how you'll be paid as a contractor. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Contractor forum</h2>
                    <p>Access the contractor community and discuss how contracting with Practical Werewolf works.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div>
            </div>

            <hr>
        </div>
    }
    else if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Denied)
    {
        <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> <strong>Approval denied!</strong> Your application has been denied by the manager</div>
    }
    else if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Approved)
    {
        <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok-circle"></span> <strong>Application approved!</strong> Your application has been approved by a manager!</div>
    }
    else
    {
        <p>Internal server error. Unknown contractor state.</p>
    }
}
