@using PracticalWerewolf.Models.UserInfos
@model PracticalWerewolf.ViewModels.Contractor.ContractorIndexModel
@{
    ViewBag.Title = "Contract";
}

<head></head>

@Html.Partial("_StatusMessage")

@if (@Model.ContractorInfo == null)
{
    <div class="jumbotron">
        <h1>Contract</h1>
        <p class="lead">Contract with Practical Werewolf and earn lots of tasty money! </p>
        <p><a href="@Url.Action("Register", "Contractor")" class="btn btn-primary btn-lg">Apply &raquo;</a></p>
    </div>
}
else
{
    if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Pending)
    {
        Html.RenderPartial("_IndexPendingApproval", Model);
    }
    else if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Denied)
    {
        Html.RenderPartial("_IndexDeniedApproval", Model);
    }
    else if (Model.ContractorInfo.ApprovalState == ContractorApprovalState.Approved)
    {
        Html.RenderPartial("_IndexApproved", Model);
        @section Scripts {
            <script src="~/Scripts/ContractorPartials.js"></script>
            <script src="~/Scripts/GoogleMapAPI.js"></script>

            @Scripts.Render("~/bundles/jquery")
        }
    }
    else
    {
        <p>Internal server error. Unknown contractor state.</p>
    }
}
