@using (Html.BeginForm("Results", "Search", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
{
    <div class="form-group">
        <div class="dropdown search-dropdown">
            <input type="text" name="query" class="search-form form-control" placeholder="Search users" value="@ViewBag.Query">
            <ul class="dropdown-menu autocomplete-list">
            </ul>
        </div>
    </div>

    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
}

