@if (!String.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div class="alert alert-dismissable alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>@ViewBag.StatusMessage</p>
    </div>
}