@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title <small>Shipping done right</small></h2>


<p>Practical Werewolf is a shipping company based out of Lincoln, Nebraska.</p>

<div class="page-header">
    <h2>Meet the team <small>Team three is the best</small></h2>
</div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit lectus nibh, a dignissim neque hendrerit at. Proin vitae erat risus. Sed ullamcorper ultrices arcu, nec tempus risus scelerisque nec. Sed sit amet vehicula lorem, eget hendrerit dolor. Curabitur est erat, luctus sed dolor nec, luctus accumsan eros. Pellentesque facilisis lacus sit amet tortor pharetra, sed porttitor magna fermentum. Vivamus blandit finibus orci, vitae accumsan eros faucibus sed. Pellentesque porttitor sagittis commodo. Proin orci dolor, convallis pulvinar lorem rutrum, interdum consectetur turpis. Etiam et fringilla odio. Nulla euismod, quam sit amet consequat auctor, lacus magna tempus est, eu iaculis elit enim et eros. Sed egestas, mauris vel hendrerit malesuada, nunc neque porttitor sapien, et accumsan orci erat sed nibh. Morbi eget nunc malesuada, feugiat justo sed, semper neque.
</p>

<div class="row">
    
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAMbAAAAJDRhYzMwNDM5LTM4OWItNDM2NC05NDU1LTA3NWJmYWU4MWRmNQ.jpg" class="">
            <div class="caption">
                <h4>James Onnen <small>Computer Engineering Major</small></h4>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkHAAAAJGY3MjQwNjdiLTU2NDgtNDQ3OS05YTZlLTk3MTRhMTc1OWVjZA.jpg" class="">
            <div class="caption">
                <h4>Matt Dottavio <small>Computer Science Major</small></h4>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAfpAAAAJGZkMWJhZDcyLWY4OGYtNGNmZC04MGZkLTk2M2JhYzBjODI4OQ.jpg" class="">
            <div class="caption">
                <h4>Jessee Lhang <small>Computer Science Major</small></h4>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhGAAAAJGMyNWJmZTYyLTRmMDItNDg5MS04MzcxLTJmNzFhM2NkOTAzZg.jpg" class="">
            <div class="caption">
                <h4>Abbie Jarrett <small>Computer Science Major</small></h4>
            </div>
        </div>
    </div>
</div>
