@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practical Werewolf</h1>
    <p class="lead">The fastest way to shipping something from one place to another using a comprehensive algorithm</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
