@{
    ViewBag.Title = "Home Page";
}



@section FullScreenJumbotron
{
    <div class="jumbotron full-width-jumbotron" style="margin-bottom:0px">
        <div class="container">
            <div class="splash-lead text-center">
                <h1>Let's Ship</h1>
                <p class="lead">Practical Werewolf is your practical solution to shipping in style</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container body-content">
            <div class="page-header">
                <h2>No packages to ship? </h2>
                <p class="lead">Contracting with Practical Werewolf is fun and easy!</p>
                <p></p>
            </div>
        </div>
    </div>
    

    <div class="jumbotron full-width-jumbotron">
        <div class="container">
            
        </div>
    </div>
}
