@{
    ViewBag.Title = "Home Page";
}



@section FullScreenJumbotron
{
    <div class="jumbotron full-width-jumbotron" style="margin-bottom:0px">
        <div class="container">
            <div class="splash-lead text-center">
                <h1>Let's Ship</h1>
                <p class="lead">Practical Werewolf is your practical solution to shipping</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container body-content">
            <div class="page-header">
                <h2>Contracting with Practical Werewolf</h2>
                <p class="lead">The best job on the market</p>
                <p>Lorem ipsum</p>
            </div>
        </div>
    </div>
    

    <div class="jumbotron full-width-jumbotron">
        <div class="container">
            
        </div>
    </div>
}
