body {
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.splash-lead {
    margin-top:75px;
}


@media screen and (max-width: 1000px) {
    .splash-lead {
        margin-top:25px
    }
}

.full-width-jumbotron {
    background: scroll;
    background-image: url(Images/lukas-budimaier-131294-small.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height:500px;
    margin-top: -20px;
    filter: contrast(120%);


    background-attachment: fixed;
}

.navbar-brand-image {
    padding-top:10px; 
    padding-bottom:10px;
}

.contractor-body-pane {
    min-height: 300px;
}
