@model PracticalWerewolf.ViewModels.Search.SearchResultViewModel

@using Microsoft.AspNet.Identity
@using PracticalWerewolf.ViewModels.Search

@foreach (UserSearchResult UserInfo in Model.Users)
{
    <li class="">
        <a href="@Url.Action("Results", "Search", new { query = UserInfo.Email })">
            @UserInfo.Email;

            @{
                Html.RenderPartial("_LabelHelper", UserInfo);
            }
        </a>
    </li>
}