@model PracticalWerewolf.ViewModels.Search.SearchResultViewModel

@using Microsoft.AspNet.Identity
@using PracticalWerewolf.ViewModels.Search

@foreach (UserSearchResult UserInfo in Model.Users)
{
    <li class="">
        <a href="@Url.Action("Results", "Search", new { query = UserInfo.Email })">
            @UserInfo.Email
            @if (UserInfo.IsEmployee)
            {
                <span class="label label-success">Employee</span>
            }
            @if (UserInfo.IsContractor)
            {
                <span class="label label-primary">Contractor</span>
            }
            @if (UserInfo.BanTime.HasValue)
            {
                <span class="label label-danger">Banned for @UserInfo.BanTime.Value.Duration().Days days, @UserInfo.BanTime.Value.Duration().Hours hours</span>
            }
        </a>
    </li>
}