@model PracticalWerewolf.ViewModels.Orders.OrderStatusViewModel
@{ 
    ViewBag.Title = "_UpdateStatus";
}

@using PracticalWerewolf.Models.Orders

@helper OrderStatusName(Boolean inTruck)
{
    Html.Raw((inTruck ? "In Truck" : "In Progress"));
}

@helper NextOrderStatusName(Boolean inTruck)
{
    Html.Raw((inTruck ? "Complete" : "In Truck"));
}

<!-- Modal -->
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Status to @NextOrderStatusName(Model.inTruck)</h4>
        </div>
        <div class="modal-body">
            <p>Confirm that you are changing order status from @OrderStatusName(Model.inTruck) to @NextOrderStatusName(Model.inTruck) </p>
               @using (Html.BeginForm())
               {
                   @Html.HiddenFor(m => m.orderId)
                <input type="submit" value="Update Status" class="btn btn-default" />
               }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>
