
@{
    ViewBag.Title = "Orders";
}

@Html.Partial("_StatusMessage")

<div class="jumbotron">
    <h1>Order</h1>
    <p class="lead">Ship with Practical Werewolf </p>
    <p><a href="@Url.Action("Create", "Order")" class="btn btn-primary btn-lg">Order &raquo;</a></p>
</div>